/* Reset dasar */
*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "segoe UI", Tahoma, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    padding: 40px;
    color: #333;
}

/* container utama */
.container {
    max-width: 900px;
    margin: auto;
}

/* judul */
.title {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 36px;
    letter-spacing: 2px;
    animation: drop 1s ease-out;
}

/* Card */ 
.card {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.card:hover { 
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

/* Heading  section */
.card h2 {
    margin-bottom: 15px;
    color: #5a4fcf;
    border-left: 5px solid #5a4fcf;
    padding-left: 10px;
}

/* List */
.list li {
    margin-left: 20px;
    margin-bottom: 8px;
}

/* Skill grid */
.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
    list-style: none;
}

.skill li {
    background: #f2f2ff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.skills li:hover {
    background: #5A4fcf;
    color: #fff;
    transform: scale(1.05);
}

/* animation */
.fade-in {
    animation: fadein 1.2s ease forwards;
}

.slide-in{
    animation: slideIn 1.2s ease forwards;
}

.zoom-in {
    animation: zoomIn 1.2s ease forwards;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transfrom: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0)   
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translatex(-40x);
    }
    to {
        opacity: 1;
        transfrom: translatex(0);
    }
}

@keyframes zoom-In {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drop{
    from{
        opacity: 0;
        transform: translateY(-40PX);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }  
}